<h5>This is user show page</h5>
<%= link_to 'Create account for this user', new_branch_user_account_path(@branch, @user) %> <br>
<%= link_to 'Show accounts belongs to this user', branch_user_accounts_path(@branch, @user) %>